{% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if site.weibo_comment_name and page.comments != false %}
<script type="text/javascript">
        (function(){
         var url = "http://widget.weibo.com/distribution/comments.php?width=0&url=auto&border=1&brandline=y&fontsize=14&ralateuid=1639780001&appkey=2210322454&dpc=1";
         url = url.replace("url=auto", "url=" + document.URL); 
         document.write('<iframe id="WBCommentFrame" src="' + url + '" scrolling="no" frameborder="0" style="width:100%"></iframe>');
         })();
</script>
<script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.WBComment.init({
            "id": "WBCommentFrame"
            });
</script>
{% endif %}
