* {
    margin: 2px;
}

body {
    font-family: "Droid Serif", "Georgia", serif;
    font-size: 13pt;
    color: #333;
    background: url('/static/background.png');
}

a {
    text-decoration: none;
    color: #6188f2;
}

a:hover {
    color: #f29161;
}

#container {
    width: 1000px;
    margin: 10px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

#header {
    padding-bottom: 20px;
    border-bottom: 3px double #ccc;
}

#header h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 5px;
}

#header h1 a {
    text-decoration: none;
}

#header h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

div.post {
    float: left;
    width: 800px;
    margin: 20px 0;
}

div.post h1 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 10px;
}

div.post h1 a {
    color: #6188F2;
}

div.post h2, h3 {
    font-size: 1.4em;
    font-weight: bold;
    
    line-height: 35px;
    background-color: #787;
    margin: 20px -20px;
    padding: 0px 20px;

    border-bottom: 1px dashed #CED1D1;
    border-top: 1px dashed #CED1D1;
}

div.post h4 {
    font-size: 1.1em;
    font-weight: bold;
    
    line-height: 30px;
    background-color: #69A;
    margin: 20px -20px;
    padding: 0px 20px;
}

div.post pre, div.post p {
    margin: 1em 0;
    line-height: 1.5em;
}

div.post p {
    text-align: justify;
}

div.post span.hang {
    font-family: "Lucida Unicode Sans", "Tahoma", sans-serif;
    background-color: #42588c;
    color: #fff;
    border-radius: 5px;
    float: right;
    width: 100px;
    text-align: center;
    padding: 3px;
    font-size: 0.9em;
}

div.post p.meta {
    font-style: italic;
}

div.post pre {
    white-space: pre-wrap;
}

div.post code {
    font-family: "Monaco", "Consolas", monospace;
    font-size: 0.9em;
}

div.post p code, div.post pre {
    padding: 0 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-left: 12px solid #9cc811;
    
    padding: 12px 12px 12px 0;
    padding-left: 13px;
}

div.post img {
    padding: 3px;
    border: 1px solid #ddd;
}

#post_neighbours {
    padding: 20px 0;
    margin: 20px 0;
    height: 20px;
    border-bottom: 3px double #ccc;
    border-top: 3px double #ccc;
}

#post_neighbours div.left {
    float: left;
}

#post_neighbours div.right {
    float: right;
}

#disqus_thread {
    clear: both;
}

#side {
    float: right;
    width: 175px;
    margin: 10px 0;
}

#side h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 10px;
}

#side ul {
    list-style: none;
    margin: 10px 0;
}

#side ul li {
    line-height: 1.8em;
}

#pagination, #footer {
    clear: both;
    padding: 20px 0;
    border-top: 3px double #ccc;
}

#pagination {
    text-align: center;
}

#pagination ul {
    list-style: none;
}

#pagination ul li {
    display: inline;
    padding: 0 5px;
}

#pagination li.current-page {
    background-color: #42588c;
    color: #fff;
    border-radius: 5px;
}

#footer {
    text-align: right;
}

#footer p {
    line-height: 1.8em;
}

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.span12.search-query
{
    min-height: 25px;
}

blockquote
{
    border-left: 12px solid #f29900;
    background-color: #CCA;
    padding: 12px 12px 12px 0;
    margin-left: -48px;
    padding-left: 48px;
}

strong 
{
    background-color: #EBCADA;
    color: #D14;
    padding: 3px 4px;
    border: 1px solid #E1E1E8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    ::-webkit-input-placeholder {
        color: #999;
    }
}

.no_toc
{
    font-size: 1.0em;
}
