<div class="page-header">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
</div>

<div class="row">
  <div class="span8">
      {{ content }}
    
    <div class="pagination">
        <ul class="pager">
            {% if page.previous %}
            <li class="previous">
            <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
            </li>
            {% endif %}
            {% if page.next %}
            <li class="next">
            <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    
    <div class="well_license">  {% include license %}</div>
    <hr>
    
    <script type="text/javascript">
        (function(){
         var url = "http://widget.weibo.com/distribution/comments.php?width=0&url=auto&border=1&brandline=y&fontsize=14&ralateuid=1639780001&appkey=2210322454&dpc=1";
         url = url.replace("url=auto", "url=" + document.URL); 
         document.write('<iframe id="WBCommentFrame" src="' + url + '" scrolling="no" frameborder="0" style="width:100%"></iframe>');
         })();
</script>
<script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.WBComment.init({
            "id": "WBCommentFrame"
            });
</script>
  </div>

  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
